- html_title @page.html_title
- html_meta @page.meta

#main
  .wrapper.clearfix
    / page content
    #page-content.clearfix
      / fullwidth content
      .fullwidth-content
        %h2.page-heading
          %span= @page.title

        = raw @page.text

        %table
          %thead
            %tr
              %th №
              %th Игрок
              %th
                Сыграно игр
                %span побед/всего
              %th
                За мирных
                %span побед/всего
              %th
                За комиссара
                %span побед/всего
              %th
                За мафию
                %span побед/всего
              %th
                За дона
                %span побед/всего
              %th Первая кровь
              %th Сумма баллов
              %th Рейтинг
          %tbody
            - Member.unscoped.where('game_count > 5').order('rating DESC').each_with_index do |member, index|
              = render 'member', member: member, index: index

            %tr
              %td{:colspan=>10}
                %span Рейтинг игроков сыгравших меньше 5 игр

            - Member.unscoped.where('game_count <= 5').order('rating DESC').each_with_index do |member, index|
              = render 'member', member: member, index: index