a, a:focus {outline: none;}

.map-content {
    position: relative;
    width: 700px;
    float: left;
    margin-right: 20px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

article .meta div {
    max-width: 310px;
}

table {
    width: 100%;
}

table th {
    padding: 10px;

    background-color: #444;
    border-bottom: 3px solid #BCBCBA;

    color: #E2E0D7;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
}

table th span {
    display: block;
    font-size: 16px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #BCBCBA;
    color: #444444;
}

table tr td:nth-child(2) {
    font-weight: bold;
}

#map_canvas {
    width: 680px;
    float: left;

    margin: 0 20px 0 0;
}

#contact-sidebar {
    height: 260px;
}

.normal-strong strong{
    font-weight: bold;

}

.game_table{
    width: 340px;
    float: left;
    margin-right: 5px;
}

.role_3{
    background-color: #ff2c28;
}

.role_2, .role_4{
    background-color: #0c0202;
    color: #ffffff;
}

.rating_plus{
    color: green;
}
.rating_minus{
    color: #ff2c28;
}

.rating_table_bold{
    font-weight: bold;
}
